django-environ==0.4.3
Django~=1.10.7
flake8~=3.3.0
git+https://github.com/syrusakbary/pyjade.git@d8cf1d9404c759c6a2430c9a900874ab0e970cd8#egg=pyjade==4.0.0
requests-oauthlib~=0.8.0
django-crispy-forms~=1.6.1
django-safespace~=0.2.0
django-ipware>=1.1,<1.2
