body {
  padding-top: 75px;
}

footer .credit {
  padding-top: 10px;
}

.shoottikala-navbar {
  background-color: white;
}

.shoottikala-space-before {
  margin-left: 1em;
}

.shoottikala-space-above {
  margin-top: 2em;
}

/* Fixed footer black magic */
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
}
#push, footer {
  height: 45px;
}
