body {
  padding-top: 75px;
}

footer .credit {
  padding-top: 10px;
}

.shoottikala-navbar {
  background-color: white;
}

.shoottikala-space-before {
  margin-left: 1em;
}

.shoottikala-space-above {
  margin-top: 2em;
}

/* Feedback widget */
@media (min-width: 768px) {
    #kompassi-feedback-widget {
        position: fixed;
        bottom: 0;
        right: 50px;
        width: 400px;
        margin-bottom: -5px;
    }
}

@media (max-width: 767px) {
    #kompassi-feedback-widget {
        margin-left: 11px;
        margin-right: 11px;
    }
}

#kompassi-feedback-widget .panel-heading {
    cursor: pointer;
}

/* Fixed footer black magic */
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
}
#push, footer {
  height: 45px;
}
