extends base.jade
block title
  | {{ event.name }}
block content
  h2
    | {{ event.name }}
    small.text-muted.shoottikala-space-before {{ event.headline }}

  if event.is_active
    if user.is_authenticated
      include photoshoots_event_welcome_fragment.jade
    else
      include photoshoots_event_login_fragment.jade

  else
    p Tapahtuman photoshoot-ilmoittautuminen ei ole tällä hetkellä avoinna.
