extends base.jade
- load shoottikala_tags
- load crispy_forms_tags
block title
  | Ehdota photoshootia
block content
  h2 {{ event.name }}: Ehdota photoshootia

  p Tutustu valitsemasi ilmoituksen sisältöön ja tarkista samalla oman ilmoituksesi sisältö! Voit lähettää viestin photoshootin sopimiseksi alla olevalla lomakkeella.

  .panel.panel-default
    .panel-heading: strong Valokuvaaja
    .panel-body
      - readonly photographer_form
    if can_edit_photographer
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-primary(href="{% url 'shoottikala_photographer_view' event.slug photographer.id %}") Muokkaa valokuvaajailmoitusta
        p.help-block Tämä on oma ilmoituksesi. Voit tarvittaessa muokata sitä.
  .panel.panel-default
    .panel-heading: strong Cossaaja
    .panel-body
      if other_own_cosplayers.exists
        .alert.alert-warning
          p Sinulla on useita cossaajailmoituksia. Tarkista, että oikea on valittuna. Jos haluat ehdottaa cossia toisella asullasi, valitse se tästä:
            for other_own_cosplayer in other_own_cosplayers
              p: strong: a(href="{% url 'shoottikala_send_message_view' event.slug photographer.id other_own_cosplayer.id %}") {{ other_own_cosplayer.display_name }}
      - readonly cosplayer_form
    if can_edit_cosplayer
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-primary(href="{% url 'shoottikala_cosplayer_view' event.slug cosplayer.id %}") Muokkaa cossaajailmoitusta
        p.help-block Tämä on oma ilmoituksesi. Voit tarvittaessa muokata sitä.

  form.form-horizontal(method='POST')
    .panel.panel-default
      .panel-heading: strong Lähetä viesti
      .panel-body
        - crispy message_form
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{% url "shoottikala_event_view" event.slug %}') Hylkää viesti ja palaa tapahtumasivulle
          button.btn.btn-success(type='submit') Lähetä viesti
