- load shoottikala_tags

p Olet ilmoittautunut tähän tapahtumaan valokuvaajana.

if own_photographer.is_active
  .panel.panel-default
    .panel-heading: strong Aktiivinen valokuvaajailmoitus
    .panel-body
      - readonly own_photographer_form
    .panel-footer.clearfix
      form(action='{% url "shoottikala_photographer_view" event.slug own_photographer.id %}' method='POST')
        {% csrf_token %}
        .btn-group.pull-right
          button.btn.btn-danger(type='submit', name='action', value='hide') Piilota ilmoitus
          a.btn.btn-primary(href="{% url 'shoottikala_photographer_view' event.slug own_photographer.id %}") Muokkaa ilmoitusta
      p.help-block Tämä valokuvaajailmoitus näkyy parhaillaan cossaajille. Voit halutessasi muokata ilmoitusta tai piilottaa sen.
else
  .panel.panel-default
    .panel-heading: strong.text-muted Piilotettu valokuvaajailmoitus
    .panel-body.text-muted
      - readonly own_photographer_form
    .panel-footer.clearfix
      form(action='{% url "shoottikala_photographer_view" event.slug own_photographer.id %}' method='POST')
        {% csrf_token %}
        .btn-group.pull-right
          button.btn.btn-default(type='submit', name='action', value='restore') Palauta ilmoitus
      p.help-block Tämä valokuvaajailmoitus on piilotettu. Voit halutessasi palauttaa sen näkyviin.

if cosplayers_looking.exists
  p Seuraavat cossaajat etsivät parhaillaan valokuvaajaa:

  .panel.panel-default
    .panel-heading: strong Valokuvaajaa etsivät cossaajat
    table.table.table-striped
      thead
        tr
          th Näyttönimi
          th Hahmo tai hahmot
          th Lähde
          th Lähteen tyyppi
          include shoottikala_days_header_fragment.jade
      tbody
        for cosplayer in cosplayers_looking
          tr
            td: a(href="{% url 'shoottikala_send_message_view' event.slug own_photographer.id cosplayer.id %}") {{ cosplayer.display_name }}
            td {{ cosplayer.character }}
            td {{ cosplayer.source }}
            td {{ cosplayer.get_source_type_display }}
            - with cosplayer as signup
              include shoottikala_days_table_row_fragment.jade
    .panel-footer
      p.help-block {{ cosplayers_looking.count }} cossaaja{{ cosplayers_looking.count|pluralize:"a" }}.
  else
    p Yksikään cossaaja ei vielä etsi valokuvaajaa tässä palvelussa. Palaa myöhemmin tarkastamaan tilanne uudelleen!

if not is_cosplayer
  p Voit halutessasi ilmoittautua tähän tapahtumaan <a href="{% url 'shoottikala_cosplayer_create_view' event.slug %}">myös cossaajana</a>.
