- load shoottikala_tags

p Sinulla on aktiivinen ilmoittautuminen tähän tapahtumaan cossaajana. Tämä ilmoitus näkyy parhaillaan valokuvaajille:

for cosplayer, cosplayer_form in own_cosplayers_with_forms
  .panel.panel-default
    .panel-heading: strong Cossaajailmoituksen tiedot
    .panel-body
      - readonly cosplayer_form
    .panel-footer.clearfix
      .btn-group.pull-right
        a.btn.btn-primary(href="{% url 'shoottikala_cosplayer_view' event.slug cosplayer.id %}") Muokkaa ilmoitusta…

if photographers.exists
  p Seuraavat valokuvaajat etsivät parhaillaan cossaajia:

  .panel.panel-default
    .panel-heading: strong Cossaajia etsivät valokuvaajat
    table.table.table-striped
      thead
        tr
          th Näyttönimi
      tbody
        for photographer in photographers
          tr
            td: a(href="{% url 'shoottikala_conversation_view' event.slug photographer.id first_own_cosplayer.id %}") {{ photographer.display_name }}
    .panel-footer
      p.text-muted {{ photographers.count }} valokuvaaja{{ photographers.count|pluralize:"a" }}
  else
    p Yksikään valokuvaaja ei vielä etsi cossaajia tässä palvelussa. Palaa myöhemmin tarkastamaan tilanne uudelleen!

  if not photographer
    p Voit halutessasi ilmoittautua tähän tapahtumaan <a href="{% url 'shoottikala_photographer_create_view' event.slug %}">myös valokuvaajan</a>.
