extends base.jade
- load shoottikala_tags
- load crispy_forms_tags
block title
  | Ilmoittaudu cossaajaksi
block content
  h2 {{ event.name }}: Ilmoittaudu cossaajaksi

  if can_edit
    .panel.panel-default
      .panel-heading: strong Omat tietosi
      .panel-body
        - readonly user_form
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{{ settings.KOMPASSI_HOST}}/profile', target='_blank') Kompassin käyttäjäprofiili…
        p.text-muted Mikäli tiedoissasi on korjattavaa, käy korjaamassa tietosi Kompassin käyttäjäprofiiliisi ja kirjaudu sen jälkeen uudelleen sisään.
        p.text-muted Nämä tiedot tulevat ainoastaan tapahtuman järjestäjien tietoon, ellet itse päätä jakaa niitä photoshoottien sopimisen yhteydessä cossaajien kanssa.

  form.form-horizontal(method='POST')
    .panel.panel-default
      .panel-heading: strong Ilmoituksen sisältö
      .panel-body
        if can_edit
          - crispy cosplayer_form
        else
          - readonly cosplayer_form
      .panel-footer.clearfix
        .btn-group.pull-right
          a.btn.btn-default(href='{% url "shoottikala_event_view" event.slug %}') Hylkää muutokset ja palaa tapahtumasivulle
          button.btn.btn-success(type='submit') Lähetä ilmoittautuminen
        p.text-muted Nämä tiedot näkyvät cossaajaa etsiville valokuvaajille. Voit muokata näitä tietoja myöhemmin.
